{% extends 'painel.html.twig' %}

{% block body %}
    <h1>Barbeiros</h1>
    <a class="btn btn-success pull-right" href="{{ path('barbeiro_new') }}">Novo</a>
      
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Sexo</th>
                <th>Data de Nascimento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for barbeiro in barbeiros %}
            <tr>
                <td><a href="{{ path('barbeiro_show', { 'id': barbeiro.id }) }}">{{ barbeiro.id }}</a></td>
                <td>{{ barbeiro.nome|upper }}</td>
                <td>{{ barbeiro.telefone }}</td>
                <td>
                    {% if barbeiro.sexo == "M" %}
                        Masculino
                        {% elseif barbeiro.sexo == "F" %}
                            Feminino
                            {% else%}
                                Indefinido
                    {% endif %}
                
                </td>
                <td>{% if barbeiro.dataNascimento %}
                    {{ barbeiro.dataNascimento|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('barbeiro_show', { 'id': barbeiro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('barbeiro_edit', { 'id': barbeiro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
            
{% endblock %}
