{% extends 'painel.html.twig' %}


{% block body %}
    <h1>Cadastro de Barbeiro </h1>

    {{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}
    
    
    
    {{ form_row(form.nome,{'attr':{'autofocus': true }}) }}<!-- widget insere o input nome-->
    {{ form_row(form.servico,{'label':'Serviço'}) }}<!-- row insere o label e input nome-->
    
    {{ form_row(form.sexo) }}<!-- row insere o label e input nome-->
    {{ form_row(form.dataNascimento) }}<!-- row insere o label e input nome-->
    {{ form_row(form.telefone) }}<!-- row insere o label e input nome-->
    
    <input type="submit" value="Salvar" class="btn btn-success "/>
    <a href="{{ path('barbeiro_index') }}" class="btn btn-danger pull-right">Voltar</a>
    
    {{form_end(form)}}
            
     
{% endblock %}
